@use "./variables" as *;

.App {
  position: relative;
  background-color: $green;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .stopWatchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 50px 30px 50px;
    background-color: $grey;
    border: 7px double black;
    border-radius: 10px;
  }
}
