@use "./variables" as *;

.lightPush {
  position: relative;
  padding: 12.5px 40px;
  transform: rotate(90deg) translateY(-65px);
  background: $black;
  border: 2px solid $black;
  border-radius: 5px 5px 0 0;
  &:active {
    transform: scaleX(0.9) rotate(90deg) translateY(-65px);
    #lightLabel {
      transform: translateY(-2px) scaleY(0.9);
    }
  }
  #lightLabel {
    color: $white;
    font-family: $wLabels;
    font-size: 30px;
    position: absolute;
    top: 15px;
    left: 0;
    text-transform: uppercase;
    transform: scaleY(0.8);
    background: $black;
    padding: 0 20px;
  }
}
.bulb {
  position: absolute;
  left: -15px;
  top: 10px;
  font-size: 20px;
}
