@use "./variables" as *;
@use "./mixins" as *;

.stopwatch {
  width: 100%;
  .timeDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    .formattedTime {
      margin: 20px 0 0;
    }
  }
  .laps {
    position: fixed;
    top: 27.5%;
    left: 0;
    bottom: 0;
    padding: 0 15px 20px 0px;
    height: 40%;
    overflow: scroll;
    width: 12.5%;
    font-family: $laps;
    border: 2px solid $white;
    border-left: none;
    border-radius: 0 15px 15px 0;
    background: $black;
    color: $white;
    .lapTitle {
      position: sticky;
      top: 0;
      z-index: 1;
      background: $black;
      border-bottom: 2px solid $white;
      .lapTitleFont {
        margin: 0 0 0 30px;
        @include smallDesktop {
          font-size: 35px;
        }
        @include tablet {
          font-size: 25px;
          margin: 0 90px;
        }
        @include mobileLarge {
          font-size: 15px;
          margin: 0 65px;
        }
      }
    }
    .lapContainer {
      position: absolute;
      top: 20%;
      padding-left: 65px;
      height: 80%;
      width: 60%;
      flex-direction: row-reverse;
      @include smallDesktop {
        padding-left: 40px;
      }
      @include tablet {
        padding-left: 75px;
      }
      @include mobile {
        padding-left: 35px;
      }
      .lapTimes {
        @include smallDesktop {
          font-size: 15px;
        }
        @include mobile {
          font-size: 10px;
        }
      }
    }
    @include tablet {
      position: fixed;
      top: 0%;
      left: 35%;
      width: 30%;
      height: 20%;
      border-radius: 0 0 15px 15px;
      border: 2px solid $white;
    }
    @include mobileLarge {
      transform: scale(2);
      top: -83%;
      height: 30%;
      border-radius: 15px;
    }
  }
}
