// fonts
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

$logo: Helvetica Neue;
$display: "VT323", monospace;
$laps: "Silkscreen", sans-serif;

// colors
$green: #95bf47;
$white: #ebebeb;
$grey: #a5a5a5;
$black: #0c0c0c;
